body {
  background-color: #202020 !important;
  color: white !important;
}

.focusError {
  border: 3px solid #f00;
}

.fc-h-event {
  background-color: transparent;
  border: none;
  display: block;
}

.event-container {
  overflow-wrap: break-word; /* Oculta cualquier contenido que desborde del contenedor */
  text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando el texto desborda */
  white-space: wrap; /* Evita el saltado de línea */
}